@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'M PLUS 1', sans-serif;
	font-weight: 400;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

@layer components {
	body {
		@apply scrollbar-thin scrollbar-thumb-[#f19953];
	}
}
